<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="enjeu_fragments :: baseHead(~{::title}, ~{::link})">

<title>Players List</title>

</head>
<body>
	<div class="container">
		<div th:replace="enjeu_fragments :: enjeuMenu"></div>
	 	
		<h2  class = "gridTitle mt-4">Playerlist</h2>
		<table class="gridCenterLeft table">
			<thead class = "thead-light">
		        <tr>
		            <th class="text-left">Name</th>
		            <th class="text-left">Age</th>
		            <th class="text-left">City</th>
		            <th class="text-left">Country</th>
		            <th class="text-left">Avatar</th>
		            <th class="text-left"></th>
		        </tr>
		    </thead>
			<tbody>
				<tr th:each="player: ${players}">
		            <td th:text="${player.name}"></td>
		            <td th:text="${player.age}"></td>
		            <td th:text="${player.city}"></td>
		            <td th:text="${player.country}"></td>
		            <td th:image="${player.avatarUrl}"></td>
				</tr> 
			</tbody>
		</table>
		
		
		<div class="gridCenterRight">Number of players created: <span th:text="${numberOfPlayers}"></span> </div>	 
		
	</div>
	<div th:replace="enjeu_fragments :: enjeuFooter"></div>
	
</body>
</html>