<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="error_fragments :: baseHead(~{::title}, ~{::link})">

	<title>Error !</title>
	
</head>

<body>
	<div class="container">
 		
 		<div th:replace="error_fragments :: errorMenu"></div>
 		<br>
      	<br>
      	
      	<hr>
		<div class="d-flex justify-content-center align-items-center" id="main">
		    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Oops!</h1>
		    <div class="inline-block align-middle">
		    	<h2 class="font-weight-normal lead" id="desc">This is embarrassing!&#128532; Please contact our support! &#128591; </h2>
		    </div>
		</div>
		
	</div>

	<div th:replace="error_fragments :: errorFooter"></div>

</body>
</html>