<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home_fragments :: baseHead(~{::title}, ~{::link})">

<title>Enjeu Login</title>

</head>

<body>
	<div class="container">
 		
 		<div th:replace="home_fragments :: homeMenu"></div>
 		
 		<div class="gridTitle homeTitle">
			<h2 >Please Log In the game</h2> <br>
			<h5 >In order to log in, use your username and your password</h5>
		</div>
		
		<div th:if="${param.error}">
			UserName or Password invalid !
		</div>
		
		<div th:if="${param.logout}">
			You are disconnected !
		</div>
		
		<form class="gridCenter" th:action="@{/login}" method="post">
			<div>
				<label>User Name : <input type="text" name="username"/> </label>
			</div>
			
			<div>
				<label>PassWord : <input type="text" name="password"/></label>
			</div>
			
			<div>
				<input type="submit" value="Sign In"/>
			</div>
		</form>
		
		<div th:replace="home_fragments :: homeFooter"></div>
	</div>
	
	
	
</body>
</html>