<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home_fragments :: baseHead(~{::title}, ~{::link})">

<title>Enjeu Home</title>

</head>

<body>
	<div class="container">
 		
 		<div th:replace="home_fragments :: homeMenu"></div>
 		
 		<div class="gridTitle homeTitle">
			<h2 >Welcome to the Enjeu web application!</h2> <br>
			<h5 >A WebApp Board Game, made for D&D-like fans</h5>
		</div>
		
		<div class="gridLeft">
			<h3>Something on the left</h3>
		</div>
		
		<div class="gridCenterLeft">
			<h3>Something on the Left center</h3>
		</div>
		
		<div class="gridCenterRight">
			<h3>Something on the Rigth center</h3>
		</div>
		
		<div class="gridRight">
			<h3>Something on the right</h3>
		</div>
		
		<div th:replace="home_fragments :: homeFooter"></div>
	</div>
	
</body>
</html>